@use '@/styling/variables' as *;

.photo-link {
  isolation: isolate;
  display: block;
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 0.75rem;
  outline: none;
  box-shadow: 0 1rem 3rem hsla(190, 4%, 74%, 0.18);

  animation-timing-function: cubic-bezier(0.74, 0.18, 0.3, 0.48);
  animation-duration: 0.5s;
  animation-name: grow-from-top;
  animation-fill-mode: backwards;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.37), transparent);
    opacity: 0.5;
    z-index: 1;
  }

  img {
    object-fit: cover;
    object-position: bottom center;
    width: 100%;
    height: 100%;
    transition: scale 0.2s ease-in-out;
  }

  &:hover,
  &:focus-visible {
    img {
      scale: 1.05;
    }
  }

  &:active {
    img {
      scale: 1.01;
    }
  }

  .content-block {
    position: absolute;
    inset: 0;
    top: auto;
    padding: 2rem 1.5rem 1.5rem;
    display: flex;
    background: linear-gradient(180deg, transparent 0%, black 130%);
    z-index: 2;

    display: flex;
    justify-content: space-between;

    span {
      color: white;
      font-size: $text-sm;
      line-height: 1.375rem;
      font-weight: 700;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: white;
    }
  }
}
